             
            
/*Añado unos márgenes al contenedor del documento ya que bootstrap los quita */
div#wrapper {
    margin: 50px;
    }
            
            
/* Las tres reglas de estilo siguientes se aplican sobre el menú de navegación para colocar  los botones en línea y simetricamente */
header#navegacion ul {
    text-align: center;
    padding-left: 0px;
}
header#navegacion li {
    display: inline-block;
    margin-bottom: 10px; 
}
header#navegacion li button {
    width: 180px;
}
            
            
/*Las tres reglas de estilo siguientes se aplican sobre la tabla y sus celdas*/
div#resultados table  {
    border:1px solid #449D44;
    width: 100%;
    font-size: 1.2em;
}
div#resultados table, div#resultados table th {
    text-align: center;
}

div#resultados td {
    width: 50%;
}

/* Estilos del formulario */
form {
    text-align: center;
}

input {
    margin: 5px;
}
            
/*Una clase para resaltar las celdas que contienen las propiedades de los elementos */
tablaResultados td.key {
    font-weight: bold;
}
            
/*Una clase para resaltar las filas que dan inicio a la información de cada usuario*/
div#resultados tr.headerTd {
    color: white;
    background-color: black;
}
/*Modifico el tamaño de los carteles de películas */
td img {
    height: 150px;
}
      
            